<h1>Listing cards</h1>

<table>
  <tr>
    <th>Front</th>
    <th>Back</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @cards.each do |card| %>
  <tr>
    <td><%= card.front %></td>
    <td><%= card.back %></td>
    <td><%= link_to 'Show', [card.deck, card] %></td>
    <td><%= link_to 'Edit', edit_deck_card_path(card.deck, card) %></td>
    <td><%= link_to 'Destroy', [card.deck, card], method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Card', new_deck_card_path(params[:deck_id]) %>