<div class="section">
  <h5>
    <strong>Title:</strong>
    <%= @deck.title %>
  </h5>
  <h5>
    <strong>Description:</strong>
    <%= @deck.description %>
  </h5>
</div>
<div class="card-action">
  <%= link_to 'Create Card', new_deck_card_path(@deck) %>
  <%= link_to 'Review Cards', review_deck_path(@deck) %></li>
  <%= link_to 'Edit', edit_deck_path(@deck) %>
  <%= link_to 'Delete', @deck, method: :delete, data: { confirm: 'Are you sure?' } %>
  <%= link_to 'Back', decks_path %>
</div>
<div class="divider"></div>
<% if @deck.cards.any?%>
  <h5><strong>Cards:</strong></h5>
  <div class="row">
    <% @deck.cards.each do |card| %>
      <div class="col m3">
        <div class="card sticky-action">
          <div class="card-image waves-effect waves-block waves-light">
            <div class="activator"><%= image_tag(card.image.url, alt: 'Image',:width => 200, :height => 200) if card.image? %></div>
          </div>
          <div class="card-content">
            <span class="card-title activator grey-text text-darken-4"><%= card.front %><i class="material-icons right">more_vert</i></span>
          </div>
          <div class="card-action">
            <%= link_to 'Edit', edit_deck_card_path(card.deck, card) %>
            <%= link_to 'Delete', [card.deck, card], method: :delete, data: { confirm: 'Are you sure?' } %>
          </div>
          <div class="card-reveal">
            <span class="card-title grey-text text-darken-4"><%= card.back %><i class="material-icons right">close</i></span>
          </div>
        </div>
      </div>
    <% end %>
  </div>
<% end %>
